{margin: 0; padding:0;}

body {
	background-image: url("assests/imgs/cloudbg.jpg");
	background-size: 2504px 3656px;
	background-color: lightpink;
}
/*IMAGES*/
img {
	width: auto;
	height: 100%;
	max-height: 600px;
	padding: 10px;
}

#container {
width: 1700px;
overflow: hidden;
margin: 0px;
margin-left: -20px;
margin-top: 200px;
background: none;
}

.photobanner {
height: 500px;
width: 8550px;
margin-bottom: 20px;
}

.photobanner img:hover{
opacity:0;
transition: 1s;
}

/*ANIMATION*/
.first {
 -webkit-animation: bannermove 35s linear infinite;
    -moz-animation: bannermove 35s linear infinite;
     -ms-animation: bannermove 35s linear infinite;
      -o-animation: bannermove 35s linear infinite;
         animation: bannermove 35s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -5575px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5575px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5575px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5575px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5575px;
 }
 
}