{margin: 0; padding:0;}

body {
	background-image: url("assests/imgs/cloudbg.jpg");
	background-size: 2504px 3656px;
	background-color: lightpink;
}
/*IMAGES*/
img {
	width: 100%;
	max-width: 600px;
	height: auto;
	padding: 10px;
}