body {
background-color: #F1BD42;
color: white;
font-family: 'PT Mono', monospace;
overflow-x: hidden;
}

.white {
background-color: white;
position: relative;
width: 50vw;
height: 500px;
top: 30px;
left: 40%;
}

.white2 {
background-color: white;
position: relative;
width: 50vw;
height: 500px;
top: 50px;
left: 5%;
}

h1{
position: sticky;
top: -5px;
width: 110%;
font-size: 11vw;
color: #D94F3F;
margin-left: -3%;
margin-top: -20px;
z-index: 2;
}

a {
text-decoration: none;
}

a:hover {
color: #d12b19;
text-decoration: underline;
}

h1:hover {
color: #d12b19;
}

.pic1 img{
position: absolute;
z-index: 1;
height: auto;
width: 800px;
}

