body{
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: 'Fira Mono', monospace;
}

.title{
	position: fixed;
	right: 0;
	top: 0;
	margin-right: 10px;
	margin-top: 5px;
	text-align: right;
	background-color: white;
	z-index: 2;
}

.footer{
	font-style: italic;
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: white;
}

.sidebar{
	position: fixed;
	top: 160px;
	width: 100px;
	height: auto;
	text-align: left;
}

.home{
	position: fixed;
	left: 0;
	top: 0;
	margin-left: 10px;
	margin-top: 5px;
	text-align: left;
	background-color: white;
	z-index: 2;
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
/*#cea287  #a0845e #ce8e88  #e5bd87*/
	color: #e5bd87;
}

a:hover{
	font-style: italic;
}

.wordsearch{
	position: absolute;
	left: 50%;
	margin-left: -600px;
	width: 1200px;
	margin-top: 5%;
	height: 810px;
	margin-bottom: 5%;
	display: inline-grid;
	grid-column-gap: 2%;
	grid-row-gap: 1.5%;
	grid-template-column: 30;
	text-align: center;
}

.conversation{
	width: 500px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	margin-top: 160px;
	text-align: justify;
}


.item1{
	grid-column-start: 1;
	grid-column-end: 1;
}
.item20{
	grid-column-start: 20;
	grid-column-end: 20;
}

.item24{
	grid-column-start: 24;
	grid-column-end: 24;
}

.item25 {
	grid-column-start: 25;
	grid-column-end: 25;
}

.item26{
	grid-column-start: 26;
	grid-column-end: 26;
}

.item27{
	grid-column-start: 27;
	grid-column-end: 27;
}

.item28{
	grid-column-start: 28;
	grid-column-end: 28;
}

.item29{
	grid-column-start: 29;
	grid-column-end: 29;
}

.item30{
	grid-column-start: 30;
	grid-column-end: 30;
}

.item31{
	grid-column-start: 1;
	grid-column-end: 1;
}


.active{
	background-color: #e8d4b9;
	
}

.active a{
	color: #a0845e;
}

p{
	margin: 10px;
	margin-bottom: 40px;
}