/*COLORS
pink #e018e0
green #16e21a
blue #007bff
*/

@font-face {
	font-family: VTFMisterPixel;
	src: url(VTFMisterPixel/otf/MisterPixelRegular.otf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: VTFMisterPixel;
	background: black;
	color: #e018e0;
}

h1{
	font-size: 8em;
	text-align: center;
}

.top{
	position: relative;
	width: 100%;
	margin-top: -20px;
}

.content{
	margin-left: 2%;
}

.person{
	position: relative;
	display: inline-block;
	width: 280px;
	height: 230px;
	background:  #16e21a;
	padding: 50px;
	font-size: 4em;
	text-align: right;
	margin: 10px;
}

.person:hover{
	color: #007bff;
}

.smaller{
	font-size: 3em;
}

a {
	color: #e018e0;
	text-decoration: none;
}

a:hover{
	color: #007bff;
	text-decoration: underline;
}