body{
	/*background-color: green;*/
	text-align: justify;
	background-image: url(poster2bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;

}


.full{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 10vw;
	width: 75vw;
	margin: auto;
	padding-top: 10vh;
	padding-bottom: 300px;
	 -webkit-text-stroke: 3px white;
	color: transparent;

}

.box{
	color: white;
	-webkit-text-stroke: 0px;

}

a{
-webkit-text-stroke: 3px white;
	color: transparent;
	text-decoration: none;
}

a:hover{
-webkit-text-stroke: 1px white;
	color: black;
	text-decoration: none;
}

.next{
 -webkit-text-stroke: 3px white;
	color: transparent;

}
.next:hover{
 -webkit-text-stroke: 1px white;
	color: black;

}

@media (max-width: 800px) {
.full{
	font-size: 10vw;
	padding-top: 8vh;
	padding-bottom: 300px;
	 -webkit-text-stroke: 1.2px white;
	color: transparent;

}


}

