body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #D1D1D1;
	cursor: crosshair;
}

.blue {
	position: fixed;
	width: 98%;
	background-color: #1954D0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -140px;
}

h1 {
	color: white;
	padding: 10px; 
	font-size: 18pt;
}

.icon {
	height: 20px;
	width: 20px;
	padding-left: 20px;
	padding-right: 10px;
	
}

.text {
	margin-top: 150px;
	margin-left: 170px;
	margin-right: auto;
	margin-bottom: 105px;
	height: 100%;
	font-size: 18pt;
	max-width: 800px;
	color: #1954D0;
	padding: 20px;
	background-color: white;
	border: 3px solid #222222;
}

