body{
font-family: 'Merriweather', serif;
margin-left: 50px;
}

h1{
border-bottom: 1px dotted;
}

h1:hover{

}

/*NIGHT*/
.night{
border-bottom: 1px dotted;
}

.night:hover{
background-color: black;
color: white;
}

/*CRAWL*/
.crawl{
transition: all 1s ease-in-out;
border-bottom: 1px dotted;
}

.crawl:hover{
margin-left: 20px;
}

/*PRANCED*/
.pranced{
transition: all 2s ease-in-out;
 -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  border-bottom: 1px dotted;
}

.pranced:hover{
background: linear-gradient(270deg, #ff00f5, #ffd736, #f2a4ff, #6bf51d, #06e854);
  background-size: 1000% 1000%;

  -webkit-animation: slideBackground 2s ease infinite;
  -moz-animation: slideBackground 2s ease infinite;
  animation: slideBackground 2s ease infinite;
}

    @-webkit-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

}

/*SONG*/
.song{
border-bottom: 1px dotted;

}

.song:hover{
 font-size: 2em;
 transition: 2s ease-in-out;
}

/*DUMB*/
.dumb{
border-bottom: 1px dotted;
}

.dumb:hover{
background: yellow;
font-weight: bold;
margin-left: -30px;
}

/*POOL*/
.pool{
border-bottom: 1px dotted;
 background-position: center;
  transition: background 0.8s;
}

.pool:hover{
background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

/*BEAT*/
.beat{
border-bottom: 1px dotted;
transition: all 0.5s ease;
}

.beat:hover{
color: red;
font-weight: bold;
-webkit-transform: rotate(360);
}

/*POISON*/
.poison{
border-bottom: 1px dotted;
}

.poison:hover{

}

/*CRY*/
.cry{
border-bottom: 1px dotted;
}

.cry:hover{

}


/*DIE*/
.die{
border-bottom: 1px dotted;
}

.die:hover{

}

/*FLUNK*/
.flunk{
border-bottom: 1px dotted;
}

.flunk:hover{

}

/*HAIR*/
.hair{
border-bottom: 1px dotted;
}

.hair:hover{

}