body{
background: magenta;
margin: 0;



}

.gifs img{
	position: absolute;
	filter: saturate(5);
	 mix-blend-mode: difference;
	 overflow: hidden;
	 width: 100vw;
	
}

.bar1 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 0px;
  width: 100%;
 
  
}

.bar2 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 10vh;
   width: 100%;
}

.bar3 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 20vh;
   width: 100%;
}

.bar4 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 30vh;
   width: 100%;
}

.bar5 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 40vh;
   width: 100%;
}

.bar6 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 50vh;
   width: 100%;
}

.bar7 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 60vh;
   width: 100%;
}

.bar8 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 70vh;
   width: 100%;
}

.bar9 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 80vh;
   width: 100%;
}

.bar10 img{
  clip: rect(0px, 100vw, 10vh, 0px);
  margin-top: 90vh;
   width: 100%;
}
