body{
	background: tan;
	margin: 0;
}

.button{
	z-index: 5;
	color: black;
}

.button:hover{
	text-decoration: underline;
}



.sidebar{
	background-color: #E8DCC8;
	height: 100%;
	width: 17vw;
	position: fixed;
	right: 0;
	padding: 0;
	z-index: 5;
	max-width: 80px;
	align-items: center;
}

.sidebar img{
	max-width:70px;
	height: auto;
  align-items: center;
}

.title{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  align-items: center;
}

.title img{
  padding-top: 2.5vh;
  align-items: center;
}

.one{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #D1B48C;
}

.two{
  width: 17vw;
  max-width: 80px;
   height: 10vh;
  background-color: #6E816D;
  margin-top: 10vh;
}

.three{
  width: 17vw;
  max-width: 80px;
   height: 10vh;
  background-color: #89775F;
  margin-top: 10vh;
}

.four{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #8FA0A8;
  margin-top: 10vh;
}

.five{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #E1C49D;
  margin-top: 10vh;
}

.gifs img{
	filter: hue-rotate(20deg);
	filter: sepia(40%);
  	width: 100vw;
}

.startpos img {
 	position: absolute;
 	top: 0;
 	left: 0;
  	height: 100%;
}

.bar1 img{
  	clip: rect(0px, 100vw, 100vh, 0px);
  	margin-top: 0px;
  	width: 100%;
  	z-index: 0; 
}

.bar2 img{
  	clip: rect(10vh, 100vw, 100vh, 0px);
  	width: 100%;
   	z-index: 0; 
}

.bar3 img{
  	clip: rect(20vh, 100vw, 100vh, 0px);
   	width: 100%;
    z-index: 0;
}

.bar4 img{
  	clip: rect(30vh, 100vw, 100vh, 0px);
   	width: 100%;
}

.bar5 img{
  	clip: rect(40vh, 100vw, 100vh, 0px);
   	width: 100%;
}

.bar6 img{
  	clip: rect(50vh, 100vw, 100vh, 0px);
   	width: 100%;
}

.bar7 img{
  	clip: rect(60vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 0;
}

.bar8 img{
  	clip: rect(70vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 0;
}

.bar9 img{
  	clip: rect(80vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 1;
}

.bar10 img{
  	clip: rect(90vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 1;
}
