body{
	background: tan;
	margin: 0;
}

.button{
	z-index: 5;
	color: black;
}

.button:hover{
	text-decoration: underline;
}



.sidebar{
	background-color: #E8DCC8;
	height: 100%;
	width: 17vw;
	position: fixed;
	right: 0;
	padding: 0;
	z-index: 5;
	max-width: 80px;
	align-items: center;
}

.sidebar img{
	max-width:70px;
	height: auto;
  align-items: center;
}

.title{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  align-items: center;
  position: fixed;
}

.title img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #959ca0;
  transition: all 400ms ease;
}

.one:hover{
    background-color: black;
}

.two{
  width: 17vw;
  max-width: 80px;
   height: 10vh;
  background-color: #13111B;
  z-index: 5;
  margin-top: 10vh;
   transition: all 400ms ease;
}
.two:hover{
    background-color: black;
}

.three{
  width: 17vw;
  max-width: 80px;
   height: 10vh;
  background-color: #573117;
  transition: all 400ms ease;

}

.three:hover{
    background-color: black;
}

.four{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #485760;
  transition: all 400ms ease;

}

.four:hover{
    background-color: black;
}

.five{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #9F6E3F;
   transition: all 400ms ease;
}

.five:hover{
    background-color: black;
}

.six{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #E9D0AC;
   transition: all 400ms ease;
}

.six:hover{
    background-color: black;
}

.seven{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #413E2B;
   transition: all 400ms ease;
}

.seven:hover{
    background-color: black;
}

.eight{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #f4f1eb;
   transition: all 400ms ease;
}

.eight:hover{
    background-color: black;
}

.nine{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #47461F;
   transition: all 400ms ease;
}

.nine:hover{
    background-color: black;
}

.ten{
  width: 17vw;
  max-width: 80px;
  height: 10vh;
  background-color: #223648;
   transition: all 400ms ease;
}

.ten:hover{
    background-color: black;
}
.gifs img{
	filter: hue-rotate(20deg);
	filter: sepia(40%);
  	width: 100vw;
}

.startpos img {
 	position: absolute;
 	top: 0;
 	left: 0;
  	height: 100%;
}

.bar1 img{
  	clip: rect(0px, 100vw, 100vh, 0px);
  	margin-top: 0px;
  	width: 100%;
  	z-index: 0; 
}

.bar2 img{
  	clip: rect(10vh, 100vw, 100vh, 0px);
  	width: 100%;
   	z-index: 0; 
}

.bar3 img{
  	clip: rect(20vh, 100vw, 100vh, 0px);
   	width: 100%;
    z-index: 0;
}

.bar4 img{
  	clip: rect(30vh, 100vw, 100vh, 0px);
   	width: 100%;
}

.bar5 img{
  	clip: rect(40vh, 100vw, 100vh, 0px);
   	width: 100%;
}

.bar6 img{
  	clip: rect(50vh, 100vw, 100vh, 0px);
   	width: 100%;
}

.bar7 img{
  	clip: rect(60vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 0;
}

.bar8 img{
  	clip: rect(70vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 0;
}

.bar9 img{
  	clip: rect(80vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 1;
}

.bar10 img{
  	clip: rect(90vh, 100vw, 100vh, 0px);
   	width: 100%;
   	z-index: 1;
}
