body {
	font-family: 'Rajdhani', sans-serif;
	background-color: black;
	margin-top: 60px;
}

h1 {
	font-size: 50pt;
	margin-top: 50px;
}

h1 a{
	color: white;
	text-decoration: none;
}

h1 a:hover{
	color: black;
	background-color: lightpink;
}

img {
	width: 600px;
	height: 350px;
	object-fit: cover;
	padding: 10px;
}

.website {
	padding: 30px;
}

p {
	max-width: 450px;
	width: auto;
	color: lightpink;
	letter-spacing: 1px;
	line-height: 1.5;
	margin-left: 635px;
	margin-right: auto;
}

.site {
	margin-bottom: 260px;
}