body{ 
	font-family: 'EB Garamond', serif;
	background: #FEFBE7;
	color: #0C294C;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 40px;
	font-size: 12pt;
	column-count: 2;
	column-gap: 40px;
	column-width: 400px;
}

p {
	max-width: 400px;
	padding: 20px;
	line-height: 18pt;
}

.button {
	background-color: #0C294C;
	border: none;
	color: #FEFBE7;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 20px;
}

/*IMAGES*/
img {
	width: auto;
	height: 565px;
	padding: 30px;
}


/*HEADINGS*/
.food{
	font-family: 'Inknut Antiqua', serif;
	line-height: 17px;
	padding: 20px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

/*MUSIC*/
.rock {
	font-family: 'EB Garamond', serif;
	font-style: bold;
	color: pink;
}

.psychedelic-rock{
	letter-spacing: 3px;
	color: purple;
}

.folk-punk{
	font-style: italic;
	color: brown;
}

.surf-rock{
	color: gold;
}

.alternative{
	color: #89B64B;
}

.blue-eyed-soul {
	text-decoration: underline;
	color: orange;
}
/*TRAVEL*/
.travel {
	padding: 10px;
	margin-top: 30px;
}


/*POEM*/
.poem {
	margin-top: 10px;
	margin-bottom: 10px; 
}

/*LINKS*/
a {
	text-decoration: none;
	color: navy;
}

a:hover{
	text-decoration: underline;
}