/*COLORS
#c7d1af
#b0d1af
#d8cfb3
#b3b9d6
#848c83
#3e473d
*/

/*TOP OVAL*/
.ovaltop{
	position: fixed;
	width: 150px;
	height: 280px;
	border-radius: 150px;
	transform: rotate(20deg);
	background-color: #b3b9d6;
	top: 50px;
	margin-left: 70%;
	display: block;
	transition: 1s ease-in-out;
	
}

.ovaltop:hover{
	background-color: #d8cfb3;
	width: 280px;
	margin-left: 62%;
}


/*MIDDLE ROW*/
.even{
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.rightone{
	width: 30px;
	height: 30px;
	background-color: #c7d1af;
	margin: 10px;
}

.righttwo{
	width: 30px;
	height: 30px;
	background-color: #b0d1af;
	margin: 10px;
}

.rightthree{
	width: 30px;
	height: 30px;
	background-color: #848c83;
	margin: 10px;
}

.rightfour{
	width: 30px;
	height: 30px;
	background-color: #b3b9d6;
	margin: 10px;
}

.rightfive{
	width: 30px;
	height: 30px;
	background-color: #c7d1af;
	margin: 10px;
}

.rightsix{
	width: 30px;
	height: 30px;
	background-color: #3e473d;
	margin: 10px;
}

/*A LITTLE TO THE LEFT*/
.round{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.leftone{
	width: 30px;
	height: 30px;
	background-color: #3e473d;
	border-radius: 50%;
}

.lefttwo{
	width: 30px;
	height: 30px;
	background-color: #c7d1af;
	border-radius: 50%;
}

.leftthree{
	width: 30px;
	height: 30px;
	background-color: #d8cfb3;
	border-radius: 50%;
}

.leftfour{
	width: 30px;
	height: 30px;
	background-color: #848c83;
	border-radius: 50%;
}

/*OVAL*/
.oval{
	width: 150px;
	height: 280px;
	border-radius: 150px;
	transform: rotate(-20deg);
	background-color: #b3b9d6;
	position: relative;
	top: 50px;
	left: 100px;
	display: block;
	z-index: 1;
	transition: 1s ease-in-out;
}

.oval:hover{
	transform: rotate(20deg);
	transition: 1s ease-in-out;
}

/*CIRCLE*/
.circle{
	width: 130px;
	height: 130px;
	border-radius: 130px;
	border: 10px solid #3e473d;
	position: absolute;
	z-index: 2;
	margin-top: -130px;
	margin-left: 150px;
}

.circle:hover{
	background-color: #3e473d;
}

/*FLAT EDGED OBJECTS*/
.rectangle{
	position: fixed;
	width: 30%;
	height: 10%;
	background-color: #c7d1af;
	margin-left: 60%;
	margin-top: -10%;
}

.square{
	position: static;
	width: 90%;
	height: 400px;
	border: 10px solid #b0d1af;
	margin-left: 5%;
	margin-right: 5%;
}

.square:hover{
	background: rgb(176,209,175);
	background: linear-gradient(47deg, rgba(176,209,175,1) 25%, rgba(132,140,131,1) 89%);
}